*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: futura-lt, 微软雅黑, arial, sans-serif;
    font-size: 1rem;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2B2B2B;
}
a:hover{
    /*text-shadow: 1px 1px 1px black;*/
    color: black;
}
a.on{ font-weight: bold;}
html {
    font-size : 16px;
}
@media only screen and (max-width: 850px){
    html {
        font-size: 8px !important;
    }
}
@media only screen and (min-width: 1650px){
    html {
        font-size: 17px !important;
    }
}
/*@media only screen and (min-width: 481px){*/
    /*html {*/
        /*font-size: 30px !important;*/
    /*}*/
/*}*/
/*@media only screen and (min-width: 569px){*/
    /*html {*/
        /*font-size: 35px !important;*/
    /*}*/
/*}*/
/*@media only screen and (min-width: 641px){*/
    /*html {*/
        /*font-size: 40px !important;*/
    /*}*/

/*头*/
.header{
    width: 100%;
    height: 3.3rem;
    position: fixed;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right,#F3F3F3,white);
}

/*脚*/
.footer{
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    background-color: #050505;
    z-index: 11;
}
.footer:hover{
    height: 10rem;
    transition:height 2s;
}
.footer-list{
    width: 60%;
    height: 10rem;
    margin: 0 auto;
    /*里面的ul弹性布局*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*里面字体颜色*/
    color: white;
}
.footer-list ul{
    /*width: 5rem;*/
    flex: 1;
    height: 100%;
}
.footer-list ul h3{
    font: normal 1.2rem "SimSun-ExtB";
    height: 4rem;
    line-height: 4rem;
}
.footer-list ul li{
    height: 1.8rem;
    font: normal 1rem "SimSun-ExtB";
    cursor: pointer;
}

/*侧边导航*/
.sidebar {
    width: 15rem;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    /*border: red solid 1px;*/
    z-index: 2;
    background: linear-gradient(to bottom,#F3F3F3,white);
}
.sidebar-big{
    width: 100%;
    height: 20rem;
}
.sidebar-row{
    width: 100%;
    height: 3.3rem;
    line-height: 3.3rem;
    border-bottom: black solid 1px;
    /*给小标识定位*/
    position: relative;
}
.sidebar-row h3{
    padding-left: 12%;
    font-size: 0.9rem;
    font-weight: normal;
}
.top,.small{
    text-align: center;
}
.sidebar-row-right{
    width: 0.6rem;
    height: 0.13rem;
    background-color: #333333;
    position:absolute;
    right: 5%;
    top: 45%;
}
.sidebar-row:hover .sidebar-row-right{
    transform: rotate(90deg);
    width: 0.8rem;
}
.sidebar-row a{
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*主页,,大盒子的高度与每个小页面相匹配*/
.main-wrapper{
    width: 100%;
    margin-top: 3.3rem;
    padding-left: 15rem;
    padding-bottom: 4.1rem;
    box-sizing: border-box;
    z-index: 111;
}
iframe{
    width: 100%;
    height: 100%;
}
/*每一个小页面对应一个高,通过js在点击每个盒子的时候，跳转对应的class的高*/
.main-wrapper-playboy{
     height: 150vw;
 }
.main-wrapper-login{
    height: 10vw;
}